@using project.ViewModels
@inject IActorService _actorService;
@inject NavigationManager _navigationManager;
@inject IMessagingService _messagingService;

<div class="container">
    <h2 class="bg-primary text-white">Actor Search</h2>
    <div class="row">
        <div class="col">
            <input id="search-box" @bind-value="SearchBox" @bind-value:event="oninput" />
        </div>
    </div>
    <div class="row">
        <ul class="search-result">
            @foreach (var actor in filteredActors)
            {
                <li @onclick="@(() => OnSelect(actor))">
                    <a>
                        @actor.first_name @actor.last_name.ToUpper() (@actor.country_code)
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

@code {

    string search;

    List<ActorCountryDto> filteredActors = new List<ActorCountryDto>();


    string SearchBox
    {
        get
        {
            return search;
        }
        set
        {
            search = value;
            filteredActors = Search(value).GetAwaiter().GetResult();
        }
    }

    private async Task<List<ActorCountryDto>> Search(string text)
    {
        return await _actorService.Search(SearchBox, SearchBox, SearchBox);
    }

    private async Task OnSelect(ActorCountryDto a)
    {
        await _messagingService.Add("Actor selected " + a.first_name + " "
            + a.last_name + " (" + a.id + ")");
        _navigationManager.NavigateTo("/actordetail/" + a.id);
    }

}